:host {

  .heros {
    h1 {
      font-size: 2.3rem;
      margin-bottom: 0rem;
    }
    p {
      font-size: 1.5rem;
      margin-top: 0;
      font-weight: 400;
    }
  }
  ion-item {
    --padding-start: none;
    --inner-padding-end: none;
  }
  ion-card[button] {
    ion-icon {
      font-size: 2rem;
      display: block;
      margin: auto;
    }
    margin: 0.25rem;
  }
}