:host {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;

  // ion-grid {
  //   height: calc(100% - 85px);
  // }
  ion-item {
    border: solid 2px transparent;
    
    &.selected {
      border: solid 2px rgba(var(--ion-color-primary-rgb), 0.15);
      --background: rgba(var(--ion-color-primary-rgb), 0.10);
      --padding-start: 0.25rem;
      border-radius: 8px;
      overflow: hidden;
    }
  }

  ion-item {
    --padding-start: none;
    --inner-padding-end: none;
  }

  ion-footer {
    position: fixed;
    bottom: 0;
  }
}