<ion-content [fullscreen]="true">
  <ion-grid [fixed]="true">
    <ion-row class="ion-text-center ion-align-items-center">
      <ion-col size="12">
        <img src="logo-colored.svg" />
        <ion-text>
          <h1 className="homeTitle">Hexa Lite</h1>
          <p className="slogan">
            Build your wealth with cryptoassets
          </p>
        </ion-text>
        <ion-button color="gradient" (click)="connect()">connect</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>