// @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600&display=swap');
// variable font family
$font-family: var(--font-outfit);//'Outfit', sans-serif;

html, body, ion-content {
  font-size: 20px;
  line-height: normal;
  background: #182449;
  background: var(--background-gradient);
}

body {
  .AppLogo {
    background: url('/assets/images/logo-colored.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 42px;
    min-height: 42px;
    cursor: pointer;
  }
  
  .shadowedElement {
    box-shadow: 0 0px 50px -30px var(--ion-color-tertiary);
  }
  .dropShadowedElement {
    filter: none;
  }

  &.dark {
    
    .AppLogo {
      background: url('/assets/images/logo.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      min-width: 42px;
      min-height: 42px;
    }
    img {
      filter: brightness(.9) contrast(1.2);
    }

    .shadowedElement {
      box-shadow: 0 0px 100px -20px var(--ion-color-tertiary);
    }
    .dropShadowedElement {
      filter: drop-shadow(0px 0px 60px rgba(var(--ion-color-tertiary-rgb),0.5));
    }
  }
}


ion-content {
  --background: var(--background-gradient);
}

h1 {
  font-weight: 600;
}

h1, h2, h3, h4 {
  font-family: $font-family;
}

p {
  font-family: $font-family;
  font-size: 1rem;
  word-break: break-word!important;
}

[hidden=true] {
  display: none!important;
}
/* You can add global styles to this file, and also import other style files */
// global
* {
  color-scheme: light dark;
}

// Hide scrollbar for Chrome, Safari and Opera
ion-content::part(scroll)::-webkit-scrollbar {
  display: none;
}
  
// Hide scrollbar for IE, Edge and Firefox
ion-content::part(scroll) {
  -ms-overflow-style: none; // IE and Edge
  scrollbar-width: none; // Firefox
}


.header-background {
  -webkit-backdrop-filter: blur(20px)!important;
  backdrop-filter: blur(20px)!important;
}

// ion-segment-button {
//   --background-checked: var(--ion-color-success);
//   --color-checked: var(--ion-color-success-contrast);
// }

.connectedIcon {
  display: inline-block;
  vertical-align: top;
  margin-right: 0.25rem;
  -webkit-filter: drop-shadow(rgba(var(--ion-color-success), .7) 0px 0px 8px ); 
  filter: drop-shadow(rgba(var(--ion-color-success-rgb), .7) 0px 0px 8px );
}

ion-segment {
  border-radius: 32px !important;
}
ion-segment-button{
  --indicator-box-shadow: transparent!important;
  --border-radius: 32px !important;
  padding: 0.3rem;
  // margin: 0;
  // --background:white;
  // --color:#2d2e87;
  // --background-checked: linear-gradient(to right, #2d2e87, #0083CB)!important;
  // --color-checked: white;
  --indicator-color : rgba(var(--ion-color-primary-rgb), 0.08)!important; /* this solution */

  }
ion-button.button-large {
    --border-radius: 42px;
  }
ion-button {
  --border-radius: 32px;
}
ion-button.button-default {
  --border-radius: 32px!important;
}
ion-button.button-small {
  --border-radius: 18px!important;
}


ion-popover::part(content) {
  border-radius: 24px;
}

ion-popover  {
  --width: 250px;
  ion-content {
    --background: var(--ion-background-color);
  }
  ion-list {
    background: transparent;
  }
  ion-item {
    --background: var(--ion-background-color);

    &.selected {
      --background: rgba(var(--ion-color-primary-rgb), 0.05);
      --color: var(--ion-color-primary-contrast);
    }
  }
}

ion-popover.profil-popover {
  --width: 100%;
  --max-width: 328px;

  .disconnect-item {
    cursor: pointer;
  }
  
  ion-item {
    --padding-start: 0;

    ion-avatar {
      width: 64px;
      height: 64px;
    }

    ion-label {
      line-height: 1.5rem;

      label {
        display: block;
      }
    }

  }

  .item-profil {
    margin-bottom: 2rem;
  }
}

ion-modal {
  --border-radius: 32px;
}

ion-popover.points-popover {
  --width: 100%;
  --max-width: 350px;
}
ion-alert.modalAlert {
  .alert-wrapper {
    border: 1px solid rgba(var(--ion-color-primary-rgb), 0.4);
    box-shadow: 0 0 12px 0px rgba(0, 0, 0, 0.25)!important;
    border-radius: 32px!important;
    background: var(--ion-background-color)!important;
  }
}

.modalAlert {
  // --width: fit-content;
  --max-width: 350px;
  --height: fit-content;
  --border-radius: 32px;
  --backdrop-opacity: 0.3!important;
  
  // --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
  padding: 2rem;

  // .ion-accordion-toggle-icon {
  //   display: none;
  // }

  &.modalInfo, &.infoAPY {
    --min-width: 200px!important;

    ion-item {
      --padding-start: none;
      --inner-padding-end: none;
      --background: none;
    }
  }
  &.modalInfo {
    ion-grid {
      max-height: 95vh;
      overflow-y: scroll;
      overflow-x: hidden;

      > ion-row:first-of-type {
        position: sticky;
        top: 0;
        z-index: 1;
        background: var(--ion-background-color);
      }
    }
  }
}
.modalAlert.autoSize {
  --max-width: 100%;
}

.modalPage {
  --min-width: 100vw;
  --min-height: 100vh;
  --border-radius: 0;
}

.modal-sheet {
  --width: 100%;
  --border-radius: 32px;
}


ion-accordion.accordion-expanding > [slot=header] .ion-accordion-toggle-icon, 
ion-accordion.accordion-expanded > [slot=header] .ion-accordion-toggle-icon {
  transform: rotate(180deg) scale(0.6);
}
.ion-accordion-toggle-icon {
  color: var(--ion-color-primary);
  transform: scale(0.6);
}

ion-accordion {
  background-color: transparent;

  ion-item {
    --background: transparent;
    --background-hover: none;

    &:hover {
      --background: transparent!important;
    }
    
  }
  
  &:not(.accordion-collapsed):not(.accordion-collapsing) {
    ion-item {
      --background: transparent;
    }
    background: rgba(var(--ion-color-primary-rgb), 0.2)!important;

  }

  &.accordion-collapsed {
    &:hover {
      background: rgba(var(--ion-color-primary-rgb), 0.2)!important;
    }
  }

  &:hover {
    background: rgba(var(--ion-color-primary-rgb), 0.2)!important;
  }
}

.marketFilters {
  ion-col > *:not(ion-toggle) {
    color: rgba(var(--ion-text-color-rgb),0.5);
    background: rgba(0,0,0, 0.1);
    border-radius: 10px;
    padding: 0 0.3rem 0.3rem!important;
  }
  ion-toggle {
    font-size: 0.8rem;
    padding: 0.25rem 0;
  }
}
.poolHeaderList {
  border-top: solid 1px var(--ion-border-color);
  border-bottom: solid 1px var(--ion-border-color);
  ion-label {
    cursor: default;
    opacity: 0.6;
    h3 {
      font-size: 0.8rem;
      padding: 0.25rem 0.15rem;
      white-space: nowrap;
    }
  }
}
// ion-accordion-group {
//   border: 1px solid var(--ion-border-color);
//   border-radius: 32px;
//   overflow: hidden;
// }
ion-card {
  border-radius: 32px;
}

.widgetWrapper, ion-card:not(.ion-color), .leaderboardPage ion-list {
  border: 1px solid rgba(var(--ion-color-primary-rgb), 0.4);
  border-radius: 32px;
  overflow: hidden;
  background-color: var(--ion-background-color);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  -webkit-filter: drop-shadow(rgba(var(--ion-color-primary-rgb), .2) 0px 0px 50px); 
  filter: drop-shadow(rgba(var(--ion-color-primary-rgb), .2) 0px 0px 50px );
}
body.dark {
  .widgetWrapper, ion-card:not(.ion-color), .leaderboardPage ion-list {
    box-shadow: 0 0 12px 0px rgb(0 0 0 / 25%);
  }
}

.welcomeSection {

  .logoTextContainer {
    margin-top: 6rem;
    text-align: left;
    display: flex;
    align-items: center;
    flex-direction: row;

    .homeLogo {
      min-width: 116px;
      min-height: 116px;
      margin-right: 1rem;
    }
  }

  .homeActionBtns {
    display: flex; 
    align-items: center;
    flex-direction: row;
  }

  > ion-row > ion-col {
    ion-button {
      margin-top: 2rem ;
    }
  }

  @media screen and (max-width: 991px) {

    > ion-row > ion-col {
      ion-button {
        display: table;
        margin: 2rem auto;
      }
    }

    .logoTextContainer {
      margin-top: 3rem;
      flex-direction: column;
      text-align: center;
      
      .homeLogo {
        min-width: 148px;
        min-height: 148px;
        margin-top: 6rem;
        margin-bottom: 1rem;
        margin-right: 0rem;
      }
    }

    ion-image.homeLogo {
      margin: auto
    }


    .homeActionBtns {
      display: flex; 
      align-items: center;
      flex-direction: column;

      ion-button {
        margin: 1rem auto;
        &:first-of-type {
          margin: 2rem auto 0;
        }
      }
    }

  }

  h1.homeTitle {
    display: block;
    font-weight: bold;
    margin-top: 0rem;
    letter-spacing: -0.1rem;
    font-size: 4.8rem;
    line-height: 4.2rem;
    text-align: left;

    @media screen and (max-width: 991px) {
      font-size: 3.8rem;
      line-height: 3.4rem;
      text-align: center;
    }
  }

  h3 {
    position: relative;
    display: inline-block;
  }

  h3::after {
    content: '';
    position: absolute;
    bottom: -0.8rem;
    left: 0;
    width: 280px;
    height: 3px;
    background: var(--ion-color-gradient);
  
  }
  p {
    line-height: 1.4rem;

    &.slogan {
      font-size: 1.4rem;
      margin: 0rem;
      line-height: 1.8rem;

      @media screen and (max-width: 991px) {
        font-size: 1.4rem;
        line-height: 1.6rem;
      }
    }

  }

  .rowSection {
    min-height: 90vh;

  }
  .shaderContener {
    background: var(--background-shader);
  }
  .withPadding {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .homeIconsEVM {
    ion-icon {
      width: 84px;
      height: 84px;
      padding: 0.5rem;
    }

    @media screen and (max-width: 1400px) {
      ion-icon {
        width: 55px;
        height: 55px;
      }
      
    }
  }

  .asImage {

    box-shadow: 0 0px 100px -40px var(--ion-color-tertiary);
    max-width: 330px;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: transparent;
      z-index: 1
    }
  }

  a {
    color: inherit;
  }
  
  .partners {
    a {
      text-decoration: none;
      padding: 0.5rem;
      display: block;
      font-size: 0.8rem;
    }
  }
  
  ion-text.withMaxWidth {
    max-width: 750px;
    display: block;
  }
}

.bulletStep {
    min-width: 48px;
    min-height: 48px;
    border-radius: 50%;
    background-color: var(--ion-color-primary);
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem 0 0;
}

.strategyCard, .asImage {
  ion-card-content {
    > ion-grid {
      min-width: 230px;
    }
  }
  h1 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.5rem;
    margin: 0;

    small {
      font-weight: 400;
      display: block;
    }
  }
}

.MuiBox-root header > p {
  font-weight: 400!important;
  text-align: center!important;
    margin-left: 40px!important;
}

.stepsProccess {
  margin: 0rem auto 0;
  // max-width: 500px;
  // background: var(--ion-color-block); 
  z-index: 1; 
  // box-shadow: 0px 15px 10px 0px rgb(var(--ion-color-light-rgb), 1);

  ion-col::before {
    content: '';
    position: absolute;
    top: calc((7vh / 2) + 2px);
    right: -50%;
    width: 100%;
    height: 2px;
    background: var(--ion-color-medium);
    z-index: 0;
  }

  ion-col {
    position: relative;

    span {
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      align-content: center;
      margin: auto;
      font-size: 1rem;
      border: solid 2px var(--ion-color-medium);
      color: var(--ion-color-medium);
      background: var(--ion-background-color);
      width: 7vh;
      height: 7vh;
      border-radius: 100%;
      transition: all 225ms ease-in-out;
      cursor: pointer;
    }
  }
  
  ion-col.checked {
    span {
      border: solid 2px var(--ion-color-success);
      color: var(--ion-color-success);
    }
  }
  ion-col.checked::before {
    background: var(--ion-color-success);
  }

  span.active {
    color: var(--ion-color-success)!important;
  }
  ion-col.checked span.active::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.3;
    border-radius: 100%;
    background: transparent;
  } 
  ion-col.checked span:not(active)::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.3;
    border-radius: 100%;
    background: var(--ion-color-success);
  }

  ion-text {
    // display: block;
    // padding: 0.2rem;
    // font-size: 0.8rem;
    display: none;
  }

  ion-col:last-of-type::before {
    content: none;
  }
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

ion-accordion:not(.faq) {
  *[slot="header"] {
    --padding-top: 0.8rem;
    --padding-bottom: 0.8rem;

    .poolItemList {
      font-size: 18px;
    }
  }
  *[slot="content"] {
    > ion-grid {
      background: rgba(0,0,0, 0.65) !important;
      margin: 0rem;
      padding: 0.5rem 0;

      h3 {
        font-size: 12px!important;
      }
    }

    ion-item {
      --background: rgba(var(--item-background-shader-rgb), 0.5) !important;
      --padding-top: 0.4rem;
      --padding-bottom: 0.4rem;
      --padding-start: 0;
      --inner-padding-end: 0; 
      cursor: pointer;

      ion-fab-button {
        opacity: 0.5;
        transition: all 125ms ease-in-out;
      }

      .poolItemList {
        font-size: 14px;
      }

      &:hover {
        --background: rgba(var(--ion-color-primary-rgb), 0.1) !important;

        ion-fab-button {
          opacity: 1; 
        }
      }
      &.item-disabled {
        opacity: 0.8;
        //--background: rgba(var(--ion-color-dark-contrast-rgb), 0.1) !important;
        pointer-events: none;

        ion-grid {
          opacity: 0.5;
        } 
        
      }
    }

    // > ion-item {
    //   --padding-top: 0.8rem;
    // }
  }

  &.dashboardItem {

    cursor: inherit;

    &.accordion-animated > [slot=header] {
      .ion-accordion-toggle-icon {
        display: none;
      }
    } 
    > [slot=header] {
      ion-col > ion-button[expand=block] {
        ion-icon {
          transition: all 125ms ease-in-out;
        }
      }
    }
    &.accordion-expanded, 
    &.accordion-expanding {
      > [slot=header] {
        ion-col > ion-button[expand=block] {
          ion-icon {
            transform: rotate(180deg);
          }
        }
      }
    }
    &:hover,
    &.accordion-expanded {
      background: none!important;

    }

    h3 {
      font-size: 32px;
    }
  }
}

ion-accordion.networkList {
  &:not(.accordion-collapsed):not(.accordion-collapsing) {
    background: transparent!important;
  }
  &:hover,
  &.accordion-collapsed:hover {
    background: transparent!important;
  }

  *[slot=header] {
    cursor: pointer;
  }

  *[slot=content] ion-item {
    --background: transparent!important;
  }
  // &.accordion-expanded ion-item[slot='header'] {
  //   --color: red;
  // }
}

ul.baseList {
  list-style: decimal; 
  padding: 0 0 0 1rem;

  li {
    margin: 0.85rem 0;
  }
}

.verticalLineBefore::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: var(--ion-border-color);
  z-index: 0;
}
.horizontalLineBottom {
  border-bottom: solid 1px var(--ion-border-color);
}
.itemListDetails {

  > ion-label {
    display: block;
  }

  ion-list, ion-item {
    --background: transparent;
    background: transparent;
  }
}

// LiFi widget customisation
div[id^="widget-scrollable-container"],
div[id^="widget-app-expanded-container"],
div[id^="widget-relative-container"],
div.MuiScopedCssBaseline-root {
  height: 100%;
  max-height: 100%;
  min-width: auto;
}
div[id^="widget-header-"].MuiBox-root,
div[id^="widget-scrollable-container"], 
div[id^="widget-relative-container"],
div.MuiScopedCssBaseline-root > .MuiBox-root > .MuiBox-root {
  background: transparent!important;
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
}

body.dark div[id^="widget-relative-container"]{
  box-shadow: 0 0 12px 0px rgba(0, 0, 0, 0.25);
}

div.MuiScopedCssBaseline-root {
  background: var(--ion-background-color)!important;
  -webkit-backdrop-filter: blur(10px)!important;
  backdrop-filter: blur(10px)!important;
}

// Squid Widget
#squid-widget {
  display: table;
  width: auto!important;
  margin: auto;

  > div {
    border: 1px solid rgba(var(--ion-color-primary-rgb), 0.4);
  }
}

#onramp__frame {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  position: relative;
  bottom: -1rem;
}

.flex {
  display: flex;
}
.transition {
  transition: all 85ms ease-in-out;
}
.opacity-0 {
  opacity: 0!important;
}
.opacity-100 {
  opacity: 1!important;
}
.cursorPointer {
  cursor: pointer;
}



.plt-mobileweb, .plt-mobile {
  ion-grid:has(.marketFilters) {
    position: sticky;
    top: -20px;
    background: var(--ion-background-color);
    z-index: 1;
  }
  div[id^=widget-relative-container] {
    box-shadow: none;
  }

  .modalPage ion-content {
    --background: var(--ion-background-color);

    .widgetWrapper {
      border: none;
      box-shadow: none;
      -webkit-backdrop-filter: none;
      backdrop-filter: none;
      background: transparent;

      > ion-col {
        text-align: center;
      }
    }

  }

  div[id^="widget-relative-container"] {
    border: none;
  }

  div.MuiScopedCssBaseline-root {
    background: transparent!important;
    -webkit-backdrop-filter: none!important;
    backdrop-filter: none!important;

    >div[id^="widget-scrollable-container"] {
      -webkit-backdrop-filter: none!important;
      backdrop-filter: none!important;
    }
  }
}

.mobileConentModal{
  --background: var(--ion-background-color);
}
#reader-scan-element {
  video {
    height: 100%;
    width: auto!important;
  }
}

.ErrorBoundary {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--ion-background-color);
  color: var(--ion-text-color);
  font-family: $font-family;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  padding: 1rem;
}

.itemInputContainter,
.InputAssetWithDropDown {
  > ion-row {
    background: var(--item-background-shader);

    padding: 0.65rem 0.5rem;
    border-radius: 24px;
    margin-bottom: 0.5rem;
  }
}


.PublicationItem {
  cursor: pointer;
  transition: all 125ms ease-in-out;
  overflow: hidden;
  
  ion-img {
    position: relative;
  }

  &:hover {
    ion-img::after {
      content: '';
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(var(--ion-color-primary-rgb), 0.5);
    }
    ion-text {
      opacity: 0.6;
    }
  }
}