:root {
  --ion-color-primary: #0090FF;
	--ion-color-primary-rgb: 66,140,255;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #3a7be0;
	--ion-color-primary-tint: #5598ff;

	--ion-color-secondary: #4CCCE6;
	--ion-color-secondary-rgb: 12,206,234;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255,255,255;
	--ion-color-secondary-shade: #0bb5ce;
	--ion-color-secondary-tint: #24d3ec;

	--ion-color-tertiary: #6a64ff;
	--ion-color-tertiary-rgb: 106,100,255;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255,255,255;
	--ion-color-tertiary-shade: #5d58e0;
	--ion-color-tertiary-tint: #7974ff;

  --ion-color-gradient: linear-gradient(270deg, var(--ion-color-secondary),var(--ion-color-primary));
	--ion-color-gradient-rgb: var(--ion-color-primary-rgb);
	--ion-color-gradient-contrast: #fff;
	--ion-color-gradient-contrast-rgb: 255,255,255;
	--ion-color-gradient-shade: linear-gradient(270deg, var(--ion-color-secondary-shade),var(--ion-color-primary-shade));
	--ion-color-gradient-tint: linear-gradient(270deg, var(--ion-color-secondary-tint),var(--ion-color-primary-tint));

	--ion-color-gradient-text: linear-gradient(to right, rgb(var(--ion-color-primary-rgb)) , rgb(var(--ion-color-secondary-rgb)));
	
	--ion-color-success: #2dd36f;
	--ion-color-success-rgb: 45,211,111;
	--ion-color-success-contrast: #fff;
	--ion-color-success-contrast-rgb: 255,255,255;
	--ion-color-success-shade: #28ba62;
	--ion-color-success-tint: #42d77d;

	--ion-color-warning: #ffc409;
	--ion-color-warning-rgb: 255,196,9;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #e0ac08;
	--ion-color-warning-tint: #ffca22;

	--ion-color-danger: #eb445a;
	--ion-color-danger-rgb: 235,68,90;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #cf3c4f;
	--ion-color-danger-tint: #ed576b;

	--ion-color-medium: #92949c;
	--ion-color-medium-rgb: 146,148,156;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0,0,0;
	--ion-color-medium-shade: #808289;
	--ion-color-medium-tint: #9d9fa6;

	--ion-color-light: #f4f5f8;
	--ion-color-light-rgb: 244,245,248;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d7d8da;
	--ion-color-light-tint: #f5f6f9;

	/* Ionic CSS Variables */
	--ion-backdrop-color: var(--ion-color-primary);
	--ion-border-color: rgba(var(--ion-color-primary-rgb), 0.15);  
	--ion-item-background: rgba(255,255,255,.8);
	--ion-background-color: #f5f8ff;
	--ion-background-color-rgb: 245,248,255;

	--background-gradient: #ecf2fe;
	--background-shader: #e2e9ff;

	--ion-text-color: #180d68;
	--ion-text-color-rgb: 24, 13, 104;

	--ion-color-dark: #180d68;
	--ion-color-dark-rgb: 24, 13, 104;

	--item-background: transparent;
	--item-background-shader: #e2e9ff;
	--item-background-shader-rgb: 224, 232, 255;

	/* OnBoarding */
	--account-center-position-top: -3px;
	--account-center-border: rgba(var(--ion-color-primary-rgb), 0.15);
	--account-center-box-shadow: none;
	--onboard-shadow-0: none;
  --onboard-shadow-1: none;
  --onboard-shadow-2: none;

	/* Calendar */
	--fc-event-border-color: var(--ionic-color-primary-shade);
	--fc-event-bg-color: var(--ion-color-primary-tint);
	--fc-today-bg-color: rgba(var(--ion-color-primary-rgb), 0.05);
	
}

.ion-color-gradient {
	--ion-color-base: var(--ion-color-gradient);
	--ion-color-base-rgb: var(--ion-color-gradient-rgb);
	--ion-color-contrast: var(--ion-color-gradient-contrast);
	--ion-color-contrast-rgb: var(--ion-color-gradient-contrast-rgb);
	--ion-color-shade: var(--ion-color-gradient-shade);
	--ion-color-tint: var(--ion-color-gradient-tint);
}

.ion-color-gradient-text {
	background: var(--ion-color-gradient-text);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

/*
 * Dark Colors
 * -------------------------------------------
 */

body.dark {
	--ion-color-primary: #0090FF;
	--ion-color-primary-rgb: 0,144,255;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #007fe0;
	--ion-color-primary-tint: #1a9bff;

	--ion-color-secondary: #4CCCE6;
	--ion-color-secondary-rgb: 76,204,230;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #43b4ca;
	--ion-color-secondary-tint: #5ed1e9;

	--ion-color-tertiary: #6E56CF;
	--ion-color-tertiary-rgb: 110,86,207;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255,255,255;
	--ion-color-tertiary-shade: #614cb6;
	--ion-color-tertiary-tint: #7d67d4;

	--ion-color-gradient: linear-gradient(270deg, var(--ion-color-secondary),var(--ion-color-primary));
	--ion-color-gradient-rgb: var(--ion-color-primary-rgb);
	--ion-color-gradient-contrast: #fff;
	--ion-color-gradient-contrast-rgb: 255,255,255;
	--ion-color-gradient-shade: linear-gradient(270deg, var(--ion-color-secondary-shade),var(--ion-color-primary-shade));
	--ion-color-gradient-tint: linear-gradient(270deg, var(--ion-color-secondary-tint),var(--ion-color-primary-tint));

	--ion-color-success: #3DD68C;
	--ion-color-success-rgb: 61,214,140;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #36bc7b;
	--ion-color-success-tint: #50da98;

	--ion-color-warning: #FFCA16;
	--ion-color-warning-rgb: 255,202,22;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #e0b213;
	--ion-color-warning-tint: #ffcf2d;

	--ion-color-danger: #EC6142;
	--ion-color-danger-rgb: 236,97,66;
	--ion-color-danger-contrast: #000000;
	--ion-color-danger-contrast-rgb: 0,0,0;
	--ion-color-danger-shade: #d0553a;
	--ion-color-danger-tint: #ee7155;

	--ion-color-dark: #f4f5f8;
	--ion-color-dark-rgb: 244, 245, 248;
	--ion-color-dark-contrast: #000000;
	--ion-color-dark-contrast-rgb: 0, 0, 0;
	--ion-color-dark-shade: #d7d8da;
	--ion-color-dark-tint: #f5f6f9;

	--ion-color-medium: #989aa2;
	--ion-color-medium-rgb: 152, 154, 162;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0, 0, 0;
	--ion-color-medium-shade: #86888f;
	--ion-color-medium-tint: #a2a4ab;

	--ion-color-light: #222428;
	--ion-color-light-rgb: 34, 36, 40;
	--ion-color-light-contrast: #ffffff;
	--ion-color-light-contrast-rgb: 255, 255, 255;
	--ion-color-light-shade: #1e2023;
	--ion-color-light-tint: #383a3e;

  --background-gradient: linear-gradient(125deg,#182449, rgba(61, 158, 255, 0.2));
	--background-shader: #182449;

	--item-background: transparent;
	--item-background-shader: #0f1629;
	--item-background-shader-rgb: 15, 22, 41;

}

/*
* iOS Dark Theme
* -------------------------------------------
*/

.ios body.dark, .md body.dark {
	--ion-background-color: #182449;
	--ion-background-color-rgb: 24, 36, 73;

	--ion-text-color: #e4e4e4;
	--ion-text-color-rgb: 228, 228, 228;

	--ion-color-step-50: #0d0d0d;
	--ion-color-step-100: #1a1a1a;
	--ion-color-step-150: #262626;
	--ion-color-step-200: #333333;
	--ion-color-step-250: #404040;
	--ion-color-step-300: #4d4d4d;
	--ion-color-step-350: #595959;
	--ion-color-step-400: #666666;
	--ion-color-step-450: #737373;
	--ion-color-step-500: #808080;
	--ion-color-step-550: #8c8c8c;
	--ion-color-step-600: #999999;
	--ion-color-step-650: #a6a6a6;
	--ion-color-step-700: #b3b3b3;
	--ion-color-step-750: #bfbfbf;
	--ion-color-step-800: #cccccc;
	--ion-color-step-850: #d9d9d9;
	--ion-color-step-900: #e6e6e6;
	--ion-color-step-950: #f2f2f2;

	--ion-item-background: rgba(255,255,255,.05);

	--ion-card-background: rgba(255,255,255,.05);
}


