<ion-content [fullscreen]="true">
  <div
    style="
      position: sticky;
      top: 0;
      z-index: 1;
      background-color: var(--ion-background-color);
    "
  >
    <ion-toolbar>
      <ion-segment [(ngModel)]="segment" color="gradient">
        <ion-segment-button value="staking">
          <ion-label>Staking</ion-label>
        </ion-segment-button>
        <ion-segment-button value="loans">
          <ion-label>Loans</ion-label>
        </ion-segment-button>
        <ion-segment-button value="vaults">
          <ion-label>Vaults</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
    <ion-toolbar *ngIf="segment === 'loans'">
      <ion-searchbar
        [(ngModel)]="filterTerm"
        placeholder="Search"
        class="ion-margin-top"
      />
    </ion-toolbar>
  </div>
  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col>
        <app-staking-list
          *ngIf="segment === 'staking'"
          (selectedStaking)="selectedStaking.emit($any($event))"
        />
        <app-aavev3-list
          *ngIf="segment === 'loans'"
          [filterTerm]="filterTerm"
        />
        <!-- <app-vaults-list *ngIf="segment === 'vaults'" /> -->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
