<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-segment [(ngModel)]="segment" color="gradient">
      <ion-segment-button value="staking">
        <ion-label>Staking</ion-label>
      </ion-segment-button>
      <ion-segment-button value="loans">
        <ion-label>Loans</ion-label>
      </ion-segment-button>
      <ion-segment-button value="vaults">
        <ion-label>Vaults</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col>
        <app-staking-list
          *ngIf="segment === 'staking'"
          (selectedStaking)="selectedStaking.emit($event)"
        ></app-staking-list>
        <!-- <app-loans-list *ngIf="segment === 'loans'"></app-loans-list>
        <app-vaults-list *ngIf="segment === 'vaults'"></app-vaults-list> -->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
