
ion-item.pool > div {
  display: flex;
  margin-right: -24px;
  // only seconde ion-avatar
  ion-avatar {
    &:nth-child(2) {
      margin-left: -25%;
      overflow: hidden;
      border-radius: 0;

      img {
        transform: translateX(-50%);
      }
    }
  }
}
