<div class="ion-margin">
  <ion-text>
    <p>
      Liquidity Providing allows you to earn rewards on your crypto assets. By providing liquidity to these pools, you can earn fees and help facilitate trades on the platform.
    </p>
  </ion-text>  
</div>

<div *ngIf="positions">
  <app-label-list *ngIf="positions?.length || 0 > 0" color="medium">
    Pools with positions
  </app-label-list>
  <app-card *ngFor="let position of positions; let i = index">
    <ion-item lines="none" class="pool" (click)="selectPool(position)">
      <div slot="start">
        <ion-avatar>
          <img [src]="position.token0.logoURI" />
        </ion-avatar>
        <ion-avatar>
          <img [src]="position.token1.logoURI" />
        </ion-avatar>
      </div>
      <ion-label>
        <h2>
          <b>{{ position.token0.symbol }} / {{ position.token1.symbol }}</b>
        </h2>
        <p>
          Uniswap V3 <br />
          <small>{{ position.chainId | toChainName }}</small>
        </p>
      </ion-label>
      <ion-text slot="end" class="ion-color-gradient-text ion-text-end">
        ${{ position.tokenUSDTickLower | shortNumber }}<br/>
        ${{ position.tokenUSDTickUpper | shortNumber }}
      </ion-text>
    </ion-item>
  </app-card>
</div>

<app-label-list color="medium">
  Best pools
</app-label-list>
<div *ngIf="pools">
  <app-card *ngFor="let pool of pools; let i = index">
    <ion-item lines="none" class="pool" (click)="selectPool(pool)">
      <div slot="start">
        <ion-avatar>
          <img [src]="pool.token0.logoURI" />
        </ion-avatar>
        <ion-avatar>
          <img [src]="pool.token1.logoURI" />
        </ion-avatar>
      </div>
      <ion-label>
        <h2>
          <b>{{ pool.token0.symbol }} / {{ pool.token1.symbol }}</b>
        </h2>
        <p>
          Uniswap V3 <br />
          <small>{{ pool.chainId | toChainName }}</small>
        </p>
      </ion-label>
      <ion-text slot="end" class="ion-color-gradient-text ion-text-end">
        <b>${{ pool.tvl | shortNumber }} TVL</b>
      </ion-text>
    </ion-item>
  </app-card>
</div>
