
@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

.cross__svg {
    border-radius: 50%;
    display: block;
    height: 111px;
    margin: 1rem auto;
    stroke-width: 4;
    width: 111px;
}

.cross__circle {
    animation: 0.6s ease 0s normal forwards 1 running stroke;
    fill: none;
    margin: 0 auto;
    stroke: var(--ion-color-danger);
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 3;
}

.cross__path {
    stroke: var(--ion-color-danger);
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    transform-origin: 50% 50% 0;
}

.cross__path__right {
  animation: 0.3s ease 0.8s normal forwards 1 running stroke;
}

.cross__path__left {
  animation: 1s ease 0.8s normal forwards 1 running stroke;
}

.cross__message {
  color: var(--ion-color-danger);
  font-size: 0.8rem;
  text-align: center;
}