@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:wght@400;700&display=swap');

// variable font family
$font-family: 'Schibsted Grotesk', sans-serif;

html, body, ion-content {
  background: var(--background-gradient);
  --background: var(--background-gradient);
}

h1 {
  font-weight: 600;
}

h1, h2, h3, h4 {
  font-family: $font-family;
}

p {
  font-family: $font-family;
  font-size: 1rem;
}
/* You can add global styles to this file, and also import other style files */
// global
* {
  color-scheme: light dark;
}

.header-background {
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

// ion-segment-button {
//   --background-checked: var(--ion-color-success);
//   --color-checked: var(--ion-color-success-contrast);
// }

ion-segment {
  border-radius: 32px !important;
}
ion-segment-button{
  --indicator-box-shadow: transparent!important;
  --border-radius: 32px !important;
  padding: 0.3rem;
  // margin: 0;
  // --background:white;
  // --color:#2d2e87;
  // --background-checked: linear-gradient(to right, #2d2e87, #0083CB)!important;
  // --color-checked: white;
  --indicator-color : rgba(var(--ion-color-primary-rgb), 0.08)!important; /* this solution */

  }

ion-button {
  --border-radius: 32px;
}
ion-button.button-default {
  --border-radius: 32px!important;
}
ion-button.button-small {
  --border-radius: 18px!important;
}


ion-popover::part(content) {
  border-radius: 24px;
}

ion-popover  {
  --width: 250px;
  ion-content {
    --background: var(--ion-background-color);
  }
  ion-list {
    background: transparent;
  }
  ion-item {
    --background: var(--ion-background-color);

    &.selected {
      --background: rgba(var(--ion-color-primary-rgb), 0.05);
      --color: var(--ion-color-primary-contrast);
    }
  }
}

ion-popover.profil-popover {
  --width: 100%;
  --max-width: 328px;

  .disconnect-item {
    cursor: pointer;
  }
  
  ion-item {
    --padding-start: 0;

    ion-avatar {
      width: 64px;
      height: 64px;
    }

    ion-label {
      line-height: 1.5rem;

      label {
        display: block;
      }
    }

  }

  .item-profil {
    margin-bottom: 2rem;
  }
}

.modalAlert {
  --width: fit-content;
  --min-width: 350px;
  --max-width: 650px;
  --height: fit-content;
  --border-radius: 32px;
  --backdrop-opacity: 0.3!important;
  
  // --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
  padding: 2rem;

  // .ion-accordion-toggle-icon {
  //   display: none;
  // }

  &.infoAPY {
    --min-width: 200px!important;

    ion-item {
      --padding-start: none;
      --inner-padding-end: none;
      --background: none;
    }
  }
}

.modalPage {
  --min-width: 100vw;
  --min-height: 100vh;
  --border-radius: 0;
}


.ion-accordion-toggle-icon {
  color: var(--ion-color-primary);
  transform: scale(0.8);
}

ion-accordion {
  background-color: transparent;

  ion-item {
    --background: transparent;
    --background-hover: none;

    &:hover {
      --background: transparent!important;
    }
    
  }
  
  &:not(.accordion-collapsed):not(.accordion-collapsing) {
    ion-item {
      --background: transparent;
    }
    background: rgba(var(--ion-color-primary-rgb), 0.2)!important;

  }

  &.accordion-collapsed {
    &:hover {
      background: rgba(var(--ion-color-primary-rgb), 0.2)!important;
    }
  }

  &:hover {
    background: rgba(var(--ion-color-primary-rgb), 0.2)!important;
  }
}

// ion-accordion-group {
//   border: 1px solid var(--ion-border-color);
//   border-radius: 32px;
//   overflow: hidden;
// }
.widgetWrapper, ion-card {
  border: 1px solid rgba(var(--ion-color-primary-rgb), 0.4);
  border-radius: 32px;
  overflow: hidden;
  background-color: rgb(19 19 19 / 40%);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.welcomeSection {
  h3 {
    position: relative;
    display: inline-block;
  }

  h3::after {
    content: '';
    position: absolute;
    bottom: -0.8rem;
    left: 0;
    width: 100px;
    height: 3px;
    background: var(--ion-color-gradient);
  
  }
  p {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }

  .homeIconsEVM {
    ion-icon {
      width: 84px;
      height: 84px;
      padding: 0.5rem;
    }
  }

  .asImage {

    box-shadow: 0 0px 100px -40px var(--ion-color-tertiary);
    

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: transparent;
      z-index: 1
    }
  }
  
}

.bulletStep {
    min-width: 48px;
    min-height: 48px;
    border-radius: 50%;
    background-color: var(--ion-color-primary);
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem 0 0;
}

.strategyCard {
  height: 100%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;

  ion-grid {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: center;
  }
}

.MuiBox-root header > p {
  font-weight: 400!important;
  text-align: center!important;
    margin-left: 40px!important;
}

.stepsProccess {
  margin: 0rem auto 0;
  // max-width: 500px;
  // background: var(--ion-color-block); 
  z-index: 1; 
  // box-shadow: 0px 15px 10px 0px rgb(var(--ion-color-light-rgb), 1);

  ion-col::before {
    content: '';
    position: absolute;
    top: calc((7vh / 2) + 2px);
    right: -50%;
    width: 100%;
    height: 2px;
    background: var(--ion-color-medium);
    z-index: 0;
  }

  ion-col {
    position: relative;

    span {
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      align-content: center;
      margin: auto;
      font-size: 1rem;
      border: solid 2px var(--ion-color-medium);
      color: var(--ion-color-medium);
      background: var(--ion-background-color);
      width: 7vh;
      height: 7vh;
      border-radius: 100%;
      transition: all 225ms ease-in-out;
      cursor: pointer;
    }
  }
  
  ion-col.checked {
    span {
      border: solid 2px var(--ion-color-success);
      color: var(--ion-color-success);
    }
  }
  ion-col.checked::before {
    background: var(--ion-color-success);
  }

  span.active {
    color: var(--ion-color-success)!important;
  }
  ion-col.checked span.active::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.3;
    border-radius: 100%;
    background: transparent;
  } 
  ion-col.checked span:not(active)::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.3;
    border-radius: 100%;
    background: var(--ion-color-success);
  }

  ion-text {
    // display: block;
    // padding: 0.2rem;
    // font-size: 0.8rem;
    display: none;
  }

  ion-col:last-of-type::before {
    content: none;
  }
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

ion-accordion {
  *[slot="header"] {
    --padding-top: 0.8rem;
    --padding-bottom: 0.8rem;

    .poolItemList {
      font-size: 18px;
    }
  }
  *[slot="content"] {
    > ion-grid {
      background: rgba(var(--ion-color-light-rgb), 0.6) !important;
      margin: 0rem;
      padding: 0.5rem 0;

      h3 {
        font-size: 12px!important;
      }
    }

    ion-item {
      --background: rgba(var(--ion-color-light-rgb), 0.4) !important;
      --padding-top: 0.4rem;
      --padding-bottom: 0.4rem;
      --padding-start: 0;
      --inner-padding-end: 0; 
      cursor: pointer;

      ion-fab-button {
        opacity: 0.5;
        transition: all 125ms ease-in-out;
      }

      .poolItemList {
        font-size: 14px;
      }

      &:hover {
        --background: rgba(var(--ion-color-light-rgb), 0.1) !important;

        ion-fab-button {
          opacity: 1; 
        }
      }
    }

    // > ion-item {
    //   --padding-top: 0.8rem;
    // }
  }

  &.dashboardItem {

    cursor: inherit;

    &.accordion-animated > [slot=header] {
      .ion-accordion-toggle-icon {
        display: none;
      }
    } 
    > [slot=header] {
      ion-col > ion-button[expand=block] {
        ion-icon {
          transition: all 125ms ease-in-out;
        }
      }
    }
    &.accordion-expanded, 
    &.accordion-expanding {
      > [slot=header] {
        ion-col > ion-button[expand=block] {
          ion-icon {
            transform: rotate(180deg);
          }
        }
      }
    }
    &:hover,
    &.accordion-expanded {
      background: none!important;

    }

    h3 {
      font-size: 32px;
    }
  }
}

.verticalLineBefore::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: var(--ion-border-color);
  z-index: 0;
}
.horizontalLineBottom {
  border-bottom: solid 1px var(--ion-border-color),
}

// LiFi widget customisation
div[id^="widget-scrollable-container"],
div[id^="widget-app-expanded-container"],
div[id^="widget-relative-container"],
div.MuiScopedCssBaseline-root {
  height: 100%;
  max-height: 100%;
}
div[id^="widget-header-"].MuiBox-root,
div[id^="widget-scrollable-container"], 
div[id^="widget-relative-container"],
div.MuiScopedCssBaseline-root > .MuiBox-root > .MuiBox-root {
  background: transparent!important;
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
}
div.MuiScopedCssBaseline-root {
  background: rgb(19 19 19 / 40%)!important;
  -webkit-backdrop-filter: blur(10px)!important;
  backdrop-filter: blur(10px)!important;
}

